@charset "UTF-8";

/******************** RESET CSS ********************/
html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center, dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/******************** Material Icons ********************/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/iconfont/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'),
         local('MaterialIcons-Regular'),
         url('/assets/iconfont/MaterialIcons-Regular.woff2') format('woff2'),
         url('/assets/iconfont/MaterialIcons-Regular.woff') format('woff'),
         url('/assets/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    vertical-align: middle;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
/* icon size */
.material-icons.md-16 { font-size: 16px; }
.material-icons.md-20 { font-size: 20px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-32 { font-size: 32px; }
.material-icons.md-36 { font-size: 36px; }


/********** OVERLAY **********/
/* outer container with pointer events set to none initially */
.overlay-container {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.overlay-container.show { 
    pointer-events: auto;
}
/* the backdrop */
.backdrop {
    position: absolute;
    background: rgba(0,0,0,.32);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
}
.overlay-container.show-backdrop .backdrop {
    opacity: 1;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
}

/******************** z-index  ********************/
/* 
    200   .highlight
    400   .floating-section
    800   .wrapper--header
    600   .overlay-container.show.show-backdrop
    1000  .overlay-container.show.show-backdrop.show-toc 
*/
.z-200, z-200 * { z-index: 200; }
.z-400, z-400 * { z-index: 400; }
.z-600, z-800 * { z-index: 600; }
.z-800, z-800 * { z-index: 800; }
.z-1000, z-1000 * { z-index: 1000; }


/******************** GENERAL STYLE ********************/
*,*::before,*::after {
    color: #233333;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    font-family: "Monaco", "Consolas", "Fira Code",monospace,             "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    -moz-text-size-adjust: none;
     -ms-text-size-adjust: none;
         text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

::-moz-selection {
    color: white;
    background-color: #666666;
}


::selection {
    color: white;
    background-color: #666666;
}

/* Page Centering */
/* the reason of using two layers of wrapper is to 
        avoid the scrollbar squeeze/overlap the content */
body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper--header {
    padding: 16px 0;
    background-color: white;
}
.wrapper--content {
    color: black;
    flex: auto;
    position: relative;
    overflow: scroll;
    scroll-behavior: smooth;
}
.page-bounding {
    max-width: 680px;
    margin: auto;
    padding: 0 16px;
}

/* Underline Animation */
a {
    padding-bottom: 2px;
    text-decoration: none;
}
.hover--underline {
    display: inline;
    background-image: linear-gradient(black, black);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .2s;
    -webkit-transition: background-size .2s;
    -moz-transition: background-size .2s;
    -ms-transition: background-size .2s;
    -o-transition: background-size .2s;
}
a:hover .hover--underline, a:focus .hover--underline,
.hover--underline:hover {
    background-size: 100% 2px;
    transition: background-size .2s;
}


/* a nav is selected if navigated to corresponding page */
.selected {
    font-weight: 900;
    border-bottom: 2px solid black;
    color: black;
}


/* SPECIFIC STYLES */
header {
    display: flex;
    align-items: flex-start;
    background-color: white;
    z-index: 800;
}
footer {
    padding: 16px 0;
}

.site__logo {
    width: 32px;
    vertical-align: middle;
    border-radius: 2px;
}

.header__nav {
    margin-left: 24px;
    flex: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav__items {
    display: block;
    position: fixed;
    max-height: 0;
    overflow: hidden;
    top: 64px;
    left: 0;
    right: 0;
    z-index: 800;
    padding: 0 16px;
    background-color: white;
    transition: max-height, .3s ease-out;
}

/* stops body scrolling when menu is expanded*/
.menu-expanded .nav__items {
    max-height: calc(100vh - 64px);
    transition: max-height .3s ease-in;
}

.nav__item {
    display: flex;
    height: 48px;
    padding: 0 16px;
    align-items: center;
    border-top: 1px solid #666666;
}

.header__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.nav-toggle {
    width: 32px;
    height: 32px;
    display: inline-block;
    position: relative;
}
.nav-toggle .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
}

.nav-toggle > .icon-menu,
.menu-expanded .nav-toggle > .icon-close { 
    opacity: 1; transform: translate(-50%, -50%) scale(1);
}
.nav-toggle > .icon-close,
.menu-expanded .nav-toggle > .icon-menu { 
    opacity: 0; transform: translate(-50%, -50%) scale(0);
}

.item__icon {
    width: 24px;
    vertical-align: middle;
}

.item__text {
    vertical-align: middle;
    display: inline-block;
}

main.page__padding {
    padding-top: 0;
    padding-bottom: 0;
}

h2.sticky--top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
}


:target, :target::before {
    -webkit-animation: highlight .5s 3 ease;
            animation: highlight .5s 3 ease;
}
@-webkit-keyframes highlight {
    0% { transform: translateX(0); color: red; }
    50% { transform: translateX(10px); color: red; }
    100% { transform: translateX(0); color: red;}
}
@keyframes highlight {
    0% { transform: translateX(0); color: red; }
    50% { transform: translateX(10px); color: red; }
    100% { transform: translateX(0); color: red;}
}
h1:target {
    -webkit-animation: none;
            animation: none;
}

.post-list {
    padding-left: 24px;
}
.post {
    margin: 8px 0;
    display: flex;
}
.post__date { 
    color: #666666;
    font-size: 14px;
}
.post__description {
    flex: auto;
    margin-left: 8px;
}
.post__title {
    padding-bottom: 2px;
    font-size: 16px;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}
.post__tags {
    display: none;
}

.tag {
    vertical-align: middle; 
}
.tag--small {
    font-size: 14px;
    color: #666666;
}
.tag--normal {
    font-size: 16px;
    color: #233333;
    display: inline-block;
    margin: 4px;
    border-bottom: 2px solid #233333;
}
.tag-section {
    margin: 16px 0;
}

.search-section {
    padding: 8px 0;
}
#search-input {
    display: block;
    width: 100%;
    border-radius: 4px;
    border-color: #666666;
    border-style: solid;
    padding-left: 8px;
    color: black;
    
}
#search-input:focus {
    outline: none;
    border-color: black;
}
.search-result {
    padding-top: 8px;
}

footer, footer * {
    font-size: 14px;
}
footer > * ~ *::before {
    content: ' | ';
}

.beian * {
    color: #434343;
}
.beian-gov img {
    vertical-align: middle;
}

.search-result-list > li {
    list-style: initial;
}
.search-result-list > li + li {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px dashed gray;
}

ul.search-result-list {
    padding-left: 20px;
}
  
a.search-result-title {
    font-weight: bold;
}
p.search-result {
    color: #666666;
    word-break: break-all;
}
em.search-keyword {
    border-bottom: 1px dashed #4088b8;
    font-weight: bold;
}