article .post__title {
    margin-bottom: 36px;
}
article .post__meta {
    margin: 8px 8px 0 8px;
    display: inline-block;
}

.post__meta > * {
    font-size: 14px;
    color: #888888;
}

/********** HEADERS **********/
h1, h1::before { font-size: 24px; }
.post__content h2, h2::before { font-size: 20px; }
.post__content h3, h3::before { font-size: 18px; }
.post__content h4, h4::before { font-size: 16px; }
.post__content h5, h5::before { font-size: 16px; }
.post__content h6, h6::before { font-size: 14px; }

.post__content > * { margin: 16px 0; }
.post__content > h5 { margin: 8px 0 }
.post__content > h5 + * { margin: 8px 0;}
.post__content > h6 { margin: 8px 0 }
.post__content > h6 + * { margin: 8px 0; }

.post__content * {
    overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.post__content > p { line-height: 26px; }
.post__content ul { list-style-type: disc; }
.post__content ol { list-style: lower-alpha; }

.post__content iframe {
    max-width: 100%;
    margin: auto;
    display: block;
}

.post__content blockquote {
    padding: 8px 16px;
    border-left: 4px solid black;
    background-color: #EEE;
}
blockquote > p + p {
    margin-top: 16px;
}

p + blockquote {
    margin-top: 8px;
}

.post__content > table {
    width: 100%;
    border: 1px solid #DDD;
}

.post__content .contains-task-list {
    padding: 0;
    list-style: none;
    list-style-position: outside;
}

.post__content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 0 1px;
}

.post__content mark {
    border-radius: 4px;
    background-color: yellow;
    padding: 2px 4px;
    margin: 0 2px;
}

.post__content a {
    padding-bottom: 1px;
    margin: 0 2px;
    border-bottom: 2px solid black;
}

section.footnotes::before {
    content: 'Reference';
    font-weight: bold;
}
.post__content .footnotes * { font-size: 14px; }
.post__content sub, sup { font-size: 14px; }

sup.footnote-ref > a {
    font-size: 12px;
    border-bottom: none;
}

ol.footnotes-list a {
    border-bottom: none;
}

table th {
    background-color: #666;
    color: white;
}

table td, th { padding: 8px; }

table tr:nth-child(even){ background-color: #EEE; }

p code {
    border-radius: 4px;
    background-color: #EEEEEE;
    padding: 2px 4px;
    margin: 0 2px;
}

.highlight {
    background: #1E1E1E;
    border-radius: 4px;
    position: relative;
    overflow-x: scroll;
    z-index: 200;
}

/* default when no coloring */
.highlight * {
    color: white;
}

.highlight .gutter {
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    background-color: #272822;
}

.highlight td.code {
    padding: 0 8px;
}

.gutter .line {
    display: inline-block;
    width: 24px;
    color: #888888;
    text-align: right;
}

.highlight *::-moz-selection {
    background-color: #AAA;
    color: inherit;
}

.highlight *::selection {
    background-color: #AAA;
    color: inherit;
}

/********** CUSTOM CHECKBOX **********/
/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .15em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #233333;
  transition: all .2s;
  font-family: sans-serif;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}


/********** CUSTOM CONTAINER **********/
div.info, div.success,
div.warning, div.danger {
    border-radius: 4px;
    padding: 16px;
    color: #4a4a4a;
}

div.info { background-color: #def0fd; }
div.success { background-color: #cbf6da; }
div.warning { background-color: #fff6d1; }
div.danger { background-color: #ffb3c2; }