/********** FLOATING BUTTONS **********/
.floating-section {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 16px;
}
.floating-section > .floating-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    margin: 8px 0;
}
/* different animation speed of this two buttons */
.floating-button.hidden { transform: translateX(100px); -webkit-transform: translateX(100px); -moz-transform: translateX(100px); -ms-transform: translateX(100px); -o-transform: translateX(100px); }
#toTop { transition: transform .5s; -webkit-transition: transform .5s; -moz-transition: transform .5s; -ms-transition: transform .5s; -o-transition: transform .5s; }
#toTop.hidden { transition: transform .2s; -webkit-transition: transform .2s; -moz-transition: transform .2s; -ms-transition: transform .2s; -o-transition: transform .2s; }
#showToc { transition: transform .2s; -webkit-transition: transform .2s; -moz-transition: transform .2s; -ms-transition: transform .2s; -o-transition: transform .2s; }
#showToc.hidden { transition: transform .5s; -webkit-transition: transform .5s; -moz-transition: transform .5s; -ms-transition: transform .5s; -o-transition: transform .5s; }

.floating-section > .floating-button:hover {
    cursor: pointer;
}

/******************** TABLE OF CONTENT ********************/
.wrapper--toc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 0;
    background-color: white;
    overflow: scroll;
    transition: max-height .2s;
    -webkit-transition: max-height .2s;
    -moz-transition: max-height .2s;
    -ms-transition: max-height .2s;
    -o-transition: max-height .2s;
}
.overlay-container.show.show-toc .wrapper--toc {
    max-height: 40vh;
    transition: max-height .3s;
    -webkit-transition: max-height .3s;
    -moz-transition: max-height .3s;
    -ms-transition: max-height .3s;
    -o-transition: max-height .3s;
}
.wrapper--toc h2 {margin: 16px 0;}
/* toc word break */
ol.toc {
    padding: 0;
}
ol.toc * {
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}
ul.search-result-list * {
    word-break: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

/********** HEADERS NUMBERING **********/

.post__content { counter-reset: h2; }
.post__content h2 { counter-reset: h3; }
.post__content h2::before { counter-increment: h2; content: counter(h2) ". "; }
.post__content h3 { counter-reset: h4; }
.post__content h3::before { counter-increment: h3; content: counter(h2) "." counter(h3) ". " }
.post__content h4 { counter-reset: h5; }
.post__content h4::before { counter-increment: h4; content: counter(h2) "." counter(h3) "." counter(h4) ". "}
